<div class="container-fluid">
  <div class="row comment main-area-list-item">
    {{#if hasMeethubs}}
      <div class="new_comment">
        <div class="col-xs-12 col-md-3 no-padding align-left">
          <img src={{user.picture}} class="account_img" />
          <div class="comment-infos">
            <div class="bold">Meethub</div>
              <div class="meethub-select">
                {{input type="select"
                    content=meethubs
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    selection=selected
                    disabled=disabled}}
              </div>
          </div>
        </div>
        <div class="text-and-buttons col-xs-12 col-md-9 no-padding align-left">
          {{textarea
              placeholder=placeholder
              cols="250"
              rows="2"
              maxlength="1000"
              value=comment}}
          <div class="buttons">
            <div class="button save {{if commentIsEmpty 'disabled' 'enabled'}}" {{action 'createComment'}} title={{t "comment.button.create"}}>{{unbound fa-icon "fa-check"}}</div>
            <div class="button cancel {{if commentIsEmpty 'disabled' 'enabled'}}" {{action 'cancelCommentCreation'}} title={{t "comment.button.cancel"}}>{{fa-icon "fa-remove"}}</div>
          </div>
        </div>
      </div>
    {{else}}
      {{t "comment.no_meethub_message"}}
    {{/if}}
  </div>
</div>
