<div class="container-fluid">
  <div class="row comment">
    <div class="new_comment">
      <div class="col-xs-1">
        <img {{bind-attr src=user.picture}} class="account_img" />
      </div>
      <div class="col-xs-2 no-padding align-left">
        <div>Meehtub</div>
        <div>
          {{view "select"
              content=meethubs
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selection=selected
              disabled=disabled}}
        </div>
      </div>
      <div class="col-xs-8 no-padding">
        {{textarea
            placeholder="Write a new comment..."
            cols="250"
            rows="2"
            maxlength="1000"
            value=comment}}
      </div>
      <div class="col-xs-1 buttons">
        <div {{bind-attr class=":button :save commentIsEmpty:disabled:enabled"}} {{action 'createComment'}} {{translateAttr  title='comment.button.create'}}>{{unbound fa-icon "fa-check"}}</div>
        <div {{bind-attr class=":button :cancel commentIsEmpty:disabled:enabled"}} {{action 'cancelCommentCreation'}} {{translateAttr  title='comment.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</div>
      </div>
    </div>
  </div>
</div>
