<div {{bind-attr class=":row :comment :main-area-list-item comment.new_comment:highlight"}}>
  <div class="col-xs-12 col-md-3 no-padding align-left">
    <img {{bind-attr src=comment.author.picture}} class="account_img" />
    {{#if 'comment.new_comment'}}
      {{unbound fa-icon "fa-circle"}}
    {{/if}}
    <div class="comment-infos align-left no-padding col-xs-6 col-sm-2">
      <div class="author">{{comment.author.name}}</div>
      <div class="meethub">Meethub: {{#link-to 'members-area.meethubs.comments.meethub' comment.meethub.id}}{{comment.meethub.name}}{{/link-to}}</div>
      <div>{{formatted-date comment.created_at 'L'}} - {{formatted-date comment.created_at 'LT'}}</div>
    </div>
  </div>
  <div class="text-and-buttons col-xs-12 col-md-9 align-left no-padding">
    {{#if 'isConfirmVisible'}}
      <div class="confirm-text">
        {{t 'comment.confirm_delete'}}
      </div>
      <div class="buttons">
        <div {{bind-attr class=":button :save commentIsEmpty:disabled:enabled"}} {{action 'deleteComment' comment}} {{translateAttr  title='confirm'}}>{{unbound fa-icon "fa-check"}}</div>
        <div {{bind-attr class=":button :cancel"}} {{action 'cancelDeleting'}} {{translateAttr  title='comment.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</div>
      </div>
    {{else}}
      {{#if 'inEditMode'}}
        {{textarea
              placeholder=placeholder
              cols="250"
              rows="2"
              maxlength="1000"
              value=comment.text}}
      {{else}}
        <div class="comment-text">
          {{comment.text}}
        </div>
      {{/if}}
      {{#if 'comment.author.isMe'}}
        {{#if 'inEditMode'}}
          <div class="buttons">
            <div {{bind-attr class=":button :save commentIsEmpty:disabled:enabled"}} {{action 'updateComment' comment}} {{translateAttr  title='comment.button.create'}}>{{unbound fa-icon "fa-check"}}</div>
            <div {{bind-attr class=":button :cancel"}} {{action 'cancelEditing' comment}} {{translateAttr  title='comment.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</div>
          </div>
        {{else}}
          <div class="buttons">
            <div {{bind-attr class=":button :save commentIsEmpty:disabled:enabled"}} {{action 'editComment' comment}} {{translateAttr  title='edit'}}>{{unbound fa-icon "fa-pencil"}}</div>
            <div {{bind-attr class=":button :cancel"}} {{action 'showDeleteDialog'}} {{translateAttr  title='delete'}}>{{unbound fa-icon "fa-trash"}}</div>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
