<div class="friend-search-form">
  {{#if setAutofocus}}
    {{focused-input class="new-elem-title-input" placeholder="Name..." value=search_term}}
  {{else}}
    {{input class="new-elem-title-input" placeholder="Name..." value=search_term}}
  {{/if}}
</div>
<div class="friends_search_results">
  {{#each friend in search_results}}
    {{#unless 'friend.isMe'}}
      <div class="friends_search_result">
        <img {{bind-attr src=friend.picture }} />
        {{friend.name}}
        {{#if 'isAMeethubInvite'}}
          {{meethub-invite-button user=user meethub=parent friend_id=friend.id}}
        {{else}}
          <div class="friend_search_button">
            <span {{bind-attr class=":button :accept"}} {{action 'makeAdmin' friend}}>
              {{unbound fa-icon "fa-check"}}
            </span>
          </div>
        {{/if}}
      </div>
    {{/unless}}
  {{/each}}
</div>
