<div class="add-new-members-form">
  {{#if setAutofocus}}
    {{focused-input class="new-elem-title-input" placeholder="Name..." value=search_term}}
  {{else}}
    {{input class="new-elem-title-input" placeholder="Name..." value=search_term}}
  {{/if}}
</div>
<div class="friends_search_results">
  {{#each friend in search_results}}
    <div class="friends_search_result">
      <img {{bind-attr src=friend.picture }} />
      {{friend.name}} {{meethub-invite-button user=user meethub=parent friend_id=friend.id}}
    </div>
  {{/each}}
</div>
