<div class="message-header" {{action 'toggleMessage'}}>
  <div class="icon">
    {{#if (eq message.message_type 'event')}}
      {{fa-icon "calendar" fixedWith=true}}
    {{else}}
      {{#if (eq message.message_type 'friend')}}
        {{fa-icon "group" fixedWith=true}}
      {{else}}
        {{fa-icon "envelope" fixedWith=true}}
      {{/if}}
    {{/if}}
  </div>
  <div class="date">{{formatted-date message.reference_object.created_at 'lll'}}</div>
  {{#if (eq message.message_type 'friend')}}
    <div class="picture">
      <img src={{message.reference_object.friend.picture}} />
    </div>
  {{else}}
    <div class="info">
      <div class="eventInv-status {{message.reference_object.status}}">
        {{fa-icon "circle"}}
      </div>
      <div class="social-points {{if (gt message.reference_object.event.social_points social_points_threshold.content) 'highlight'}} {{if (gt message.reference_object.event.social_points 0) 'active'}}" title="Social Points">
        <div>{{fa-icon "certificate"}}</div><div>{{message.reference_object.event.social_points}}</div>
      </div>
    </div>
  {{/if}}
  <div class="subject">
    {{#if (eq message.message_type 'event')}}
      {{message.subject}}
    {{else}}
      {{message.reference_object.friend.content.name}}
    {{/if}}
  </div>
  <div class="new">
    {{#unless message.reference_object.has_been_seen}}
      {{t "new"}}
    {{/unless}}
  </div>
  {{!-- <div class="created-at">{{formatted-date message.created_at 'L'}}</div> --}}
</div>
{{#if message.is_open}}
  <div class="message-body">
    {{#if (eq message.message_type 'friend')}}
      {{t 'friend.new'}}
    {{else}}
      <div class="info-box-row question">
        {{#if (eq message.reference_object.status 'accepted')}}
          {{t 'attending-me'}}
        {{else}}
          {{#if (eq message.reference_object.status 'maybe')}}
            {{t 'maybe-me'}}
          {{else}}
            {{#if (eq message.reference_object.status 'declined')}}
              {{t 'declined-me'}}
            {{else}}
              {{t 'messages.event-participation-question'}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      <div class="buttons">
        <div class="button accept {{if (eq message.reference_object.status 'attending') 'active'}}" {{action 'setEventInvitationStatus' message.reference_object 'attending'}} title={{t 'messages.accept'}}>{{fa-icon "check"}}</div>
        <div class="button maybe {{if (eq message.reference_object.status 'maybe') 'active'}}" {{action 'setEventInvitationStatus' message.reference_object 'maybe'}} title={{t 'messages.maybe'}}>{{fa-icon "question"}}</div>
        <div class="button decline {{if (eq message.reference_object.status 'declined') 'active'}}" {{action 'setEventInvitationStatus' message.reference_object 'declined'}} title={{t 'messages.decline'}}>{{fa-icon "remove"}}</div>
      </div>
      {{#if participation_status_changed}}
        <div class="info-box-row post-to-fb" {{action 'postStatusToFB' message.reference_object}}>
          {{fa-icon "upload"}} post to facebook
        </div>
      {{/if}}
      <div class="info-box-row start">
        {{formatted-date message.reference_object.event.start_date 'L'}} - {{message.reference_object.event.start_time_converted}}
      </div>
      <div class="info-box-row location">
        {{message.reference_object.event.location.name}}
      </div>
      <div class="info-box-row participants">
        {{#if message.reference_object.event.hasConnectedFriends}}
          {{#each message.reference_object.event.friends_attending.content as |friend_event_inv|}}
            <img class="attending" src={{friend_event_inv.user.content.picture}} title={{t "attending" name=friend_event_inv.user.content.name}} />
          {{/each}}
          {{#each message.reference_object.event.friends_attending_maybe.content as |friend_event_inv|}}
            <img class="attending-maybe" src={{friend_event_inv.user.content.picture}} title={{t "maybe" name=friend_event_inv.user.content.name}} />
          {{/each}}
          {{#each message.reference_object.event.friends_declined.content as |friend_event_inv|}}
            <img class="declined" src={{friend_event_inv.user.content.picture}} title={{t "declined" name=friend_event_inv.user.content.name}} />
          {{/each}}
          {{#each message.reference_object.event.friends_not_replied.content as |friend_event_inv|}}
            <img class="not_replied" src={{friend_event_inv.user.content.picture}} title={{t "not_replied" name=friend_event_inv.user.content.name}} />
          {{/each}}
        {{else}}
          {{t 'participants.no-friends-attending'}}
        {{/if}}
      </div>
      <div class="info-box-row event-cover">
        <img src={{message.reference_object.event.picture}} />
      </div>
      <div class="info-box-row description">
        {{message.reference_object.event.description}}
      </div>
      <div class="info-box-row link-to-fb-page">
        <a target="_blank" href="https://www.facebook.com/events/{{message.reference_object.event.fb_id}}/">{{t "go-to-facebook-page"}}</a>
      </div>
    {{/if}}
  </div>
{{/if}}
