<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid :welcome-container isSidebarOpen:open:closed"}}>

    <div class="row greeting">
      <h1>Hi {{model.first_name}}</h1>
      {{#if model.first_login}}
        <h3>{{t 'welcome.first-login.greeting'}}</h3>
      {{else}}
        <h3>{{t 'welcome.not-first-login.greeting'}}</h3>
      {{/if}}
    </div>

    <div class="row friends row-centered">
      <div class="col-centered">
        {{#link-to 'members-area.friends.index' (query-params show_new=true)}}
          <div {{bind-attr class=":summary-item hasUnseenNewFriends:highlight"}} title={{t "friend.new"}}>
            {{#if hasUnseenNewFriends}}
              <div {{bind-attr class=":section-icon hasUnseenNewFriends:has-unread-messages"}}>
                {{unbound fa-icon "fa-group"}}
              </div>
            {{else}}
              <div class="section-icon">
                {{unbound fa-icon "fa-group"}}
              </div>
            {{/if}}
            <div class="type">{{unbound fa-icon "fa-plus"}}</div>
            <div class="number">{{number_of_unseen_new_friends}}</div>
          </div>
        {{/link-to}}
      </div>
    </div>

  </div>
</div>
