<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid :dashboard isSidebarOpen:open:closed"}}>

    <div class="row dashboard-title">
      {{#link-to "members-area.index"}}Dashboard{{/link-to}} / <span class="current-section">{{t "friend.title"}}</span>
    </div>

    <div class="row friends row-centered item-container">
      <div class="col-centered">
        {{#link-to 'members-area.friends.index' (query-params show_new=true)}}
          <div {{bind-attr class=":summary-item hasUnseenNewFriends:highlight"}} title={{t "friend.new"}}>
            {{#if hasUnseenNewFriends}}
              <div {{bind-attr class=":section-icon hasUnseenNewFriends:has-unread-messages"}}>
                {{unbound fa-icon "fa-group"}}
              </div>
            {{else}}
              <div class="section-icon">
                {{unbound fa-icon "fa-group"}}
              </div>
            {{/if}}
            <div class="type">{{unbound fa-icon "fa-plus"}}</div>
            <div class="number">{{number_of_unseen_new_friends}}</div>
          </div>
        {{/link-to}}
      </div>
    </div>

  </div>
</div>
