<div class="section-title">
  Messages
</div>

<div class="side-nav-item selectable" {{action "centerMapOnCurrentPosition"}}>
  {{unbound fa-icon "fa-fixed-with fa-home"}} Back home
</div>

<div class="side-nav-item-container">
  {{#each message in model}}
    <div class="side-nav-item selectable" {{action 'center_map' event}}>
      <div class="title">{{message.text}}</div>
      {{#if message.isEvent}}
        <div>
          <span class="button accept">accept</span>
          <span class="button maybe">maybe</span>
          <span class="button decline">decline</span>
        <div>
        <div class="start_time">{{message.event.start_time}}</div>
        <div class="location">{{message.event.location.name}}</div>
      {{/if}}
    </div>
  {{/each}}

  {{outlet}}
</div>
