<div {{bind-attr class=":side-nav-item-container"}}>
  {{#each message in sortedMessages}}
    <div {{bind-attr class=":side-nav-item :message :no-padding message.hasBeenRead:has-been-read message.eventInvitation.hasBeenAccepted:accepted message.eventInvitation.hasBeenAcceptedMaybe:maybe message.eventInvitation.hasBeenDeclined:declined"}}>
      <div class="title selectable" {{action 'toggleMessage' message}}>{{message.subject}}</div>
      {{#if message.isEventInvitation}}
      <div {{bind-attr class=":body message.isOpen:open"}}>
        <div class="question">{{t 'messages.participation-question'}}</div>
        <div>
          <div {{bind-attr class=":button :accept message.eventInvitation.hasBeenAccepted:active"}} {{action 'acceptEventInvitation' message.eventInvitation}} {{translateAttr  title='messages.accept'}}>{{unbound fa-icon "fa-check"}}</div>
          <div {{bind-attr class=":button :maybe message.eventInvitation.hasBeenAcceptedMaybe:active"}} {{action 'maybeAcceptEventInvitation' message.eventInvitation}} {{translateAttr  title='messages.maybe'}}>{{unbound fa-icon "fa-question"}}</div>
          <div {{bind-attr class=":button :decline message.eventInvitation.hasBeenDeclined:active"}} {{action 'declineEventInvitation' message.eventInvitation}} {{translateAttr  title='messages.decline'}}>{{unbound fa-icon "fa-remove"}}</div>
        </div>
        <div class="start">
          {{#if isGerman}}
            <div class="start_date">{{message.eventInvitation.event.start_date_converted_to_de}}</div>
          {{else}}
            <div class="start_date">{{message.eventInvitation.event.start_date_converted_to_us}}</div>
          {{/if}}
          <div class="start_time">{{message.eventInvitation.event.start_time_converted}}</div>
        </div>
        <div class="location" {{action 'centerMap' message.location}}>{{message.eventInvitation.event.location.name}}</div>
      </div>
      {{/if}}
    </div>
  {{/each}}

  {{outlet}}
</div>
