<div class="side-nav-item-container">
  {{#each message in model}}
    <div {{bind-attr class=":side-nav-item :message :no-padding message.hasBeenRead:has-been-read"}}>
      <div class="title selectable" {{action 'toggleMessage' message}}>{{message.subject}}</div>
      {{#if message.isEventInvitation}}
      <div {{bind-attr class=":body message.isOpen:open"}}>
        <div class="question">{{t 'messages.participation-question'}}</div>
        <div>
          <div class="button accept" {{translateAttr  title='messages.accept'}}>{{unbound fa-icon "fa-check"}}</div>
          <div class="button maybe" {{translateAttr  title='messages.maybe'}}>{{unbound fa-icon "fa-question"}}</div>
          <div class="button decline" {{translateAttr  title='messages.decline'}}>{{unbound fa-icon "fa-remove"}}</div>
        </div>
        <div class="start">
          {{#if isGerman}}
            <div class="start_date">{{message.eventInvitation.event.start_date_converted_to_de}}</div>
          {{else}}
            <div class="start_date">{{message.eventInvitation.event.start_date_converted_to_us}}</div>
          {{/if}}
          <div class="start_time">{{message.eventInvitation.event.start_time_converted}}</div>
        </div>
        <div class="location" {{action 'centerMap' message.location}}>{{message.eventInvitation.event.location.name}}</div>
      </div>
      {{/if}}
    </div>
  {{/each}}

  {{outlet}}
</div>
