{{!-- CENTER AREA --}}
<ul class="nav navbar-nav center-links">
  <li>
    {{#link-to 'members-area.calendar.meethubs'}}
      <span>{{unbound fa-icon "fa-fixed-with  fa-share-alt"}}</span>
      <span class="link-label hidden-sm">Meethubs</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'members-area.calendar.friends'}}
      <span>{{unbound fa-icon "fa-fixed-with fa-group"}}</span>
      <span class="link-label hidden-sm">{{t 'friend.title'}}</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'members-area.calendar.events'}}
      <span>{{unbound fa-icon "fa-fixed-with fa-music"}}</span>
      <span class="link-label hidden-sm">Events</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'members-area.calendar.locations'}}
      <span>{{unbound fa-icon "fa-fixed-with fa-compass"}}</span>
      <span class="link-label hidden-sm">Locations</span>
    {{/link-to}}
  </li>
</ul>
{{!-- RIGHT AREA --}}
<ul class="nav navbar-nav navbar-right">
  <li class="custom-link">
    {{#link-to 'members-area.calendar.messages'}}
      {{!-- <span class="message-counter">{{model.messages.length}}</span> --}}
      <span {{bind-attr class=":link-icon hasUnreadMessages"}}>{{unbound fa-icon "fa-fixed-with fa-envelope"}}</span>
      <span class="link-label visible-xs">Messages</span>
    {{/link-to}}
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      <div class="account_img_container">
        <img {{bind-attr src=model.picture}} class="account_img" />
      </div>
      <div class="account_name">
        {{model.name}}
      </div>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li {{action "invalidateSession"}}><a href="#">{{unbound fa-icon "fa-sign-out"}} Log Out</a></li>
    </ul>
  </li>
</ul>
