<h2>{{t 'calendar'}}</h2>
<div class="container-fluid main-area-list">
  {{#each event in sortedEvents}}
  <div {{bind-attr class=":row :main-area-list-item :calendar-list-row"}}>
    <div class="date">{{formatted-date event.start_date 'L'}}</div>
    <div {{bind-attr class="event.hasSocialPointUpdates"}}>{{event.social_points}}</div>
    <div class="title">{{event.name}}</div>
  </div>
  {{/each}}
</div>
