<div {{bind-attr class=":side-nav-item"}}>
  <div class="new-elem-title">
    {{input class=":new-elem-title-input" placeholder="Name"}}
    <span class="side-nav-button" {{translateAttr  title='meethub.button.create'}}>{{unbound fa-icon "fa-check"}}</span>
    <span class="side-nav-button" {{action 'cancelActivity'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-ban"}}</span>
  </div>
  <div class="short-description">{{textarea placeholder="Short description" cols="50" rows="3"}}</div>
</div>
