<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid :welcome-container isSidebarOpen:open:closed"}}>

    <div class="row greeting">
      <h1>Hi {{model.first_name}}</h1>
      {{#if 'model.first_login'}}
        <h3>{{t 'welcome.first-login.greeting'}}</h3>
      {{else}}
        <h3>{{t 'welcome.not-first-login.greeting'}}</h3>
      {{/if}}
    </div>

    <div class="row comments row-centered">
      <div class="col-centered">
        {{#link-to 'members-area.meethubs.comments'}}
          <div {{bind-attr class=":summary-item hasNewMeethubComments:highlight"}} {{translateAttr  title='welcome.meethub-comments'}}>
            {{#if 'hasNewMeethubComments'}}
              <div {{bind-attr class=":envelope hasNewMeethubComments:has-unread-messages"}}>{{unbound fa-icon "fa-list"}}</div>
            {{else}}
              <div class="envelope">{{unbound fa-icon "fa-list"}}</div>
            {{/if}}
            <div class="type">{{unbound fa-icon "fa-share-alt"}}</div>
            <div class="number">{{newMeethubComments.length}}</div>
          </div>
        {{/link-to}}
      </div>
    </div>

  </div>
</div>
