<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid :dashboard isSidebarOpen:open:closed"}}>

    <div class="row dashboard-title">
      {{#link-to "members-area.index"}}Dashboard{{/link-to}} / <span class="current-section">Meethubs</span>
    </div>

    <div class="row comments row-centered item-container">
      <div class="col-centered">
        {{#link-to 'members-area.meethubs.comments'}}
          <div {{bind-attr class=":summary-item hasNewMeethubComments:highlight"}} title={{t "welcome.meethub-comments"}}>
            {{#if hasNewMeethubComments}}
              <div {{bind-attr class=":section-icon hasNewMeethubComments:has-unread-messages"}}>{{unbound fa-icon "fa-list"}}</div>
            {{else}}
              <div class="section-icon">{{unbound fa-icon "fa-list"}}</div>
            {{/if}}
            <div class="type">{{unbound fa-icon "fa-share-alt"}}</div>
            <div class="number">{{newMeethubComments.length}}</div>
          </div>
        {{/link-to}}
      </div>
      <div class="col-centered">
        {{#link-to 'members-area.meethubs.calendar.list'}}
          <div {{bind-attr class=":summary-item hasSocialPointUpdates:highlight"}} title={{t "welcome.meethub-event-infos"}}>
            {{#if hasSocialPointUpdates}}
              <div {{bind-attr class=":section-icon hasSocialPointUpdates:has-unread-messages"}}>{{unbound fa-icon "fa-certificate"}}</div>
              <div class="type">{{unbound fa-icon "fa-share-alt"}}</div>
              <div class="number">{{socialPointUpdates}}</div>
            {{else}}
              <div class="section-icon">{{unbound fa-icon "fa-certificate"}}</div>
              <div class="type">{{unbound fa-icon "fa-share-alt"}}</div>
              <div class="number">0</div>
            {{/if}}
          </div>
        {{/link-to}}
      </div>
    </div>

  </div>
</div>
