<div {{bind-attr class=":side-nav-item :align-left"}}>
  <div class="search">
    {{input class="search-input" placeholder="Search..."}}
  </div>
  <span class="side-nav-button inline cancel" {{action 'cancelActivity'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-ban"}}</span>
  <div class="search-results">
    {{#each result in search_results}}
      {{result.name}}
    {{/each}}
  </div>
</div>
