<div>{{#link-to 'members-area.meethubs.comments'}}{{unbound fa-icon "fa-fixed-with fa-list"}}{{/link-to}}</div>
<div>
  {{#link-to 'members-area.meethubs.calendar.index'}}
    {{unbound fa-icon "fa-fixed-with fa-calendar"}}
    <div class="sub-item">{{unbound fa-icon "fa-fixed-with fa-th"}}</div>
  {{/link-to}}
</div>
<div>
  {{#link-to 'members-area.meethubs.calendar.list'}}
    {{unbound fa-icon "fa-fixed-with fa-calendar"}}
    <div class="sub-item">{{unbound fa-icon "fa-fixed-with fa-align-justify"}}</div>
  {{/link-to}}
</div>
{{!-- <div>{{#link-to 'members-area.meethubs.map'}}{{unbound fa-icon "fa-fixed-with fa-map-marker"}}{{/link-to}}</div> --}}
