<div class="close-side-nav-button">
  {{#link-to 'members-area.events'}}{{unbound fa-icon "fa-close"}}{{/link-to}}
</div>

<div {{bind-attr class=":side-nav-item :no-padding"}}>
  {{!-- TITLE --}}
  <div {{bind-attr class=":title"}}>
    {{model.name}}
  </div>
  {{!-- BODY --}}
  <div {{bind-attr class=":body"}}>
    <div class="info-box-row question">
      {{t 'messages.event-participation-question'}}
    </div>
    <div class="buttons">
      <div {{bind-attr class=":button :accept message.eventInvitation.hasBeenAccepted:active"}} {{action 'acceptEventInvitation' model.my_event_invitation.id}} {{translateAttr  title='messages.accept'}}>{{unbound fa-icon "fa-check"}}</div>
      <div {{bind-attr class=":button :maybe message.eventInvitation.hasBeenAcceptedMaybe:active"}} {{action 'maybeAcceptEventInvitation' model.my_event_invitation.id}} {{translateAttr  title='messages.maybe'}}>{{unbound fa-icon "fa-question"}}</div>
      <div {{bind-attr class=":button :decline message.eventInvitation.hasBeenDeclined:active"}} {{action 'declineEventInvitation' model.my_event_invitation.id}} {{translateAttr  title='messages.decline'}}>{{unbound fa-icon "fa-remove"}}</div>
    </div>
    <div class="info-box-row start">
      {{formatted-date model.start_date 'L'}} - {{model.start_time_converted}}
    </div>
    <div class="info-box-row location">
      {{!-- {{#link-to 'members-area.messages.map'}} --}}
        {{model.location.name}}
      {{!-- {{/link-to}} --}}
    </div>
    <div class="info-box-row more_infos">
      <a target="_blank" href="https://www.facebook.com/events/{{model.fb_id}}/">{{t "go-to-facebook-page"}}</a>
    </div>
    <div {{bind-attr class=":info-box-row :social-points model.hasSocialPoints"}}>
      {{unbound fa-icon "fa-certificate"}} {{model.social_points}} Social-Points
    </div>
    <div class="info-box-row participants">
      {{#if model.hasConnectedFriends}}
        <div class="row participants-title">{{t 'participants.title'}}</div>
        {{#each friend in model.friends_attending}}
          <img class="attending" {{bind-attr src=friend.picture}} {{bind-attr title=friend.name}} />
        {{/each}}
        {{#each friend in model.friends_attending_maybe}}
          <img class="attending-maybe" {{bind-attr src=friend.picture}} {{bind-attr title=friend.name}} />
        {{/each}}
        {{#each friend in model.event.friends_declined}}
          <img class="declined" {{bind-attr src=friend.picture}} {{bind-attr title=friend.name}} />
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>