<div class="main-area">
  <div class="main-container container-fluid dashboard {{isSidebarOpen:open:closed}}">

    <div class="row dashboard-title">
      <span class="current-section">{{t "friend.title"}}</span>
    </div>

    <div class="row friends row-centered item-container">
      <div class="col-centered">
        {{#link-to 'friends' (query-params show_new=true)}}
          <div class="summary-item {{hasUnseenNewFriends:highlight}}" title={{t "friend.new"}}>
            {{#if hasUnseenNewFriends}}
              <div class="section-icon {{hasUnseenNewFriends:has-unread-messages}}">
                {{fa-icon "group"}}
              </div>
            {{else}}
              <div class="section-icon">
                {{fa-icon "group"}}
              </div>
            {{/if}}
            <div class="type">{{fa-icon "plus"}}</div>
            <div class="number">{{number_of_unseen_new_friends}}</div>
          </div>
        {{/link-to}}
      </div>
    </div>

  </div>
</div>
