{{!-- TITLE --}}
<h1>{{t "friend.title"}}</h1>

<div class="main-area-list">
  <div class="search align-left">
    {{focused-input class="search-input" placeholder="Search..." value=search_term}}
  </div>
  {{!-- INVITE --}}
  <div class="invite-fb-friends">
    <button class="facebook-button" {{action "inviteFacebookFriends"}}>
      {{fa-icon "facebook"}} | {{t "invite-friends-button"}}
    </button>
  </div>
  {{#each search_results as |friend|}}
    <div class="item" {{action 'openFriendship' friendship}}>
      <img src={{friend.friend.picture}} /> {{friend.name}}
      <div class="new">
        {{#unless friendship.has_been_seen}}
          {{t "new"}}
        {{/unless}}
      </div>
    </div>
  {{/each}}
</div>
