<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'members-area'}}
        <div class="navbar-brand">
          <img alt="Brand" src="assets/images/logo_square_120x120.png">
          <div class="brand-name">MEETHUB <span class="beta-label">BETA</span></div>
        </div>
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{!-- CENTER AREA / TOP-NAV-BAR --}}
      <ul class="nav navbar-nav center-links">
        <li>
          {{#link-to 'members-area.meethubs'}}
            <span>{{unbound fa-icon "fa-fixed-with  fa-share-alt"}}</span>
            <span class="link-label hidden-sm">Meethubs</span>
            {{#if hasNewMeethubInfos}}
              <span class="info-counter">{{newMeethubInfosCount}}</span>
            {{/if}}
          {{/link-to}}
        </li>
         <li>
          {{#link-to 'members-area.friends'}}
            <span>{{unbound fa-icon "fa-fixed-with fa-group"}}</span>
            <span class="link-label hidden-sm">{{t 'friend.title'}}</span>
          {{/link-to}}
        </li>
        {{!-- <li>
          {{#link-to 'members-area.events'}}
            <span>{{unbound fa-icon "fa-fixed-with fa-music"}}</span>
            <span class="link-label hidden-sm">Events</span>
          {{/link-to}}
        </li> --}}
        {{!-- <li>
          {{#link-to 'members-area.locations'}}
            <span>{{unbound fa-icon "fa-fixed-with fa-compass"}}</span>
            <span class="link-label hidden-sm">Locations</span>
          {{/link-to}}
        </li> --}}
      </ul>
      {{!-- RIGHT AREA --}}
      <ul class="nav navbar-nav navbar-right">
        <li class="custom-link">
          {{#link-to 'members-area.messages'}}
            <span {{bind-attr class=":link-icon"}}>{{unbound fa-icon "fa-fixed-with fa-envelope"}}</span>
            <span class="link-label visible-xs">Messages</span>
            {{#if hasUnreadMessages}}
              <span class="info-counter">{{unreadMessages.length}}</span>
            {{/if}}
          {{/link-to}}
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="account_img_container">
              <img {{bind-attr src=model.picture}} class="account_img" />
            </div>
            <div class="account_name">
              {{model.name}}
            </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li {{action "invalidateSession"}}><a href="#">{{unbound fa-icon "fa-sign-out"}} Log Out</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row main-row align-center">

  {{outlet}}

  {{#if showSidebar}}
    <div {{bind-attr class=":side-nav-bar isSidebarOpen:open:closed"}}>
      <div class="side-bar-links">
        <div class="toggle-button" {{action "toggleSidebar"}}>{{unbound fa-icon "fa-reorder"}}</div>
        {{outlet "side-nav-buttons"}}
      </div>
      <div class="section-content">
        {{outlet "side-nav-bar"}}
      </div>
    </div>
  {{/if}}

</div>

{{!-- <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#link-to 'privacy-policy'}}
            <span>{{unbound fa-icon "fa-fixed-with  fa-info-circle"}}</span>
            <span class="link-label">Privacy Policy</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'members-area.bugreports.create'}}
            <span>{{unbound fa-icon "fa-fixed-with  fa-bug"}}</span>
            <span class="link-label">Report a bug</span>
          {{/link-to}}
        </li>
        <li class="fb-like-button">
        <iframe src="http://www.facebook.com/plugins/like.php?app_id=560142730797423;href=https://www.facebook.com/pages/Meethub-Community/974492952584571&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:155px; height:35px;" allowTransparency="true"></iframe>

          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMeethub-Community/974492952584571&amp;width=200&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=560142730797423" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:155px; height:21px;" allowTransparency="true"></iframe>
        </li>
        <li>
          <form class="donate-button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="66QU24UCS86M6">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}
