<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img alt="Brand" src="assets/images/logo_square_120x120.png">
        <div class="brand-name">MEETHUB</div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{outlet top-nav-bar-links}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row main-row align-center">

  {{outlet main-area}}

  <div class="side-nav-bar">
    <div class="side-bar-links">
      <div {{action 'toggleSidebar'}}>{{unbound fa-icon "fa-reorder"}}</div>
      {{outlet side-bar-links}}
    </div>
    <div class="section-content">
      {{outlet side-nav-bar}}
    </div>
  </div>

</div>
