<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img alt="Brand" src="assets/images/logo_square_120x120.png">
        <div class="brand-name">MEETHUB</div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{!-- CENTER AREA --}}
      <ul class="nav navbar-nav center-links">
        <li class="active">
          {{#link-to 'members-area.map.meethubs'}}
            <span>{{unbound fa-icon "fa-fixed-with  fa-share-alt" title="Meethubs"}}<span class="sr-only">(current)</span></span>
            <span class="link-label">Meethubs</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'members-area.map.friends'}}
            <span>{{unbound fa-icon "fa-fixed-with fa-group" title="Your friends"}}<span class="sr-only">(current)</span></span>
            <span class="link-label">{{t friend.title}}</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'members-area.map.events'}}
            <span>{{unbound fa-icon "fa-fixed-with fa-music" title="Events"}}<span class="sr-only">(current)</span></span>
            <span class="link-label">Events</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'members-area.map.locations'}}
            <span>{{unbound fa-icon "fa-fixed-with fa-compass" title="Locations"}}<span class="sr-only">(current)</span></span>
            <span class="link-label">Locations</span>
          {{/link-to}}
        </li>
      </ul>
      {{!-- RIGHT AREA --}}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="account_img_container">
              <img {{bind-attr src=model.picture}} class="account_img" />
            </div>
            <div class="account_name">
              {{model.name}}
            </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li {{action "invalidateSession"}}><a href="#">{{unbound fa-icon "fa-sign-out"}} Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row main-row align-center">
  {{outlet}}
</div>
