<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid isSidebarOpen:open:closed"}}>

    <h1>{{t 'calendar'}}</h1>
    <div class="container-fluid main-area-list">
      {{#each event in sortedEvents}}
        {{#link-to 'members-area.events.event' event}}
          <div {{bind-attr class=":row :main-area-list-item :calendar-list-row :no-padding"}}>

            <div class="col-xs-0 col-lg-2"></div>

            <div class="col-xs-12 col-lg-8 no-padding">
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 align-left">
                <div {{bind-attr class=":date :align-left :no-padding"}}>
                  {{formatted-date event.start_date 'L'}}
                </div>
                <div {{bind-attr class=":new-flag :align-left :no-padding"}}>
                  {{#if event.newSinceLastLogin}}
                    new
                  {{/if}}
                </div>
                <div {{bind-attr class="event.hasSocialPoints :social-point-counter :align-left :no-padding"}} title="Social Points" >
                      {{unbound fa-icon "fa-certificate"}} {{event.social_points}}
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 title align-left">
                {{event.name}}
              </div>
            </div>

            <div class="col-xs-0 col-lg-2"></div>

          </div>
        {{/link-to}}
      {{/each}}
    </div>

  </div>
</div>

<div {{bind-attr class=":side-nav-bar isSidebarOpen:open:closed"}}>
  <div class="section-content">
    {{outlet}}
  </div>
</div>
