<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid isSidebarOpen:open:closed"}}>

    <h1>{{t 'calendar'}}</h1>
    <div class="container-fluid main-area-list">
      {{#each event in sortedEvents}}
        {{#link-to 'members-area.events.event' event}}
          <div {{bind-attr class=":row :main-area-list-item :calendar-list-row :no-padding"}}>

            <div class="col-xs-0 col-lg-2"></div>

            <div class="col-xs-12 col-lg-8 no-padding">
              <div {{bind-attr class=":col-xs-4 :col-sm-2 :col-md-2 :col-lg-2 :date :align-left :no-padding"}}>
                {{formatted-date event.start_date 'L'}}
              </div>
              <div {{bind-attr class="event.hasSocialPoints :col-xs-3 :col-sm-1 :social-point-counter :align-left :no-padding"}} title="Social Points" >
                    {{unbound fa-icon "fa-certificate"}} {{event.social_points}}
              </div>
              <div {{bind-attr class=":col-xs-2 :col-sm-1 :new-flag :align-left"}}>
                {{#if event.newSinceLastLogin}}
                  new
                {{/if}}
              </div>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 title align-left no-padding">
                {{event.name}}
                {{!-- <a target="_blank" href="https://www.facebook.com/events/{{event.fb_id}}/">{{event.name}}</a> --}}
              </div>
            </div>

            <div class="col-xs-0 col-lg-2"></div>

          </div>
        {{/link-to}}
      {{/each}}
    </div>

  </div>
</div>
