<div class="main-area">
  <div {{bind-attr class=":main-container :container-fluid isSidebarOpen:open:closed"}}>

    {{!-- TITLE --}}
    <h1>{{t "friend.title"}}</h1>

    {{!-- LIST --}}
    <div class="container-fluid main-area-list">

      {{!-- SEARCH --}}
      <div {{bind-attr class=":row :main-area-list-item :open"}}>
        <div class="col-xs-0 col-md-2 col-lg-4"></div>
        <div class="col-xs-12 col-md-8 col-lg-4 no-padding">
          <div class="search no-padding align-left">
            {{focused-input class="search-input" placeholder="Search..." value=search_term}}
          </div>
          <div {{bind-attr class=" :reset-search-button searchIsEmpty:do-not-display"}} {{action 'resetSearch'}} title={{t "meethub.button.cancel"}}>
            {{unbound fa-icon "fa-remove"}}
          </div>
        </div>
        <div class="col-xs-0 col-md-2 col-lg-4"></div>
      </div>

      {{!-- INVITE --}}
      <div {{bind-attr class=":row :main-area-list-item :invite-fb-friends"}}>
        <div class="col-xs-0 col-md-2 col-lg-4"></div>
        <div class="col-xs-12 col-md-8 col-lg-4 no-padding align-left">
          <button class="facebook-button" {{action "inviteFacebookFriends"}}>
            {{unbound fa-icon "fa-facebook"}} | {{t "invite-friends-button"}}
          </button>
        </div>
        <div class="col-xs-0 col-md-2 col-lg-4"></div>
      </div>

      {{#each friendship in search_results}}
        {{#link-to 'members-area.friends.calendar.list.friend' friendship.friend}}
          <div {{bind-attr class=":row :main-area-list-item :friends-list-row :no-padding"}} {{action 'openFriendship' friendship}}>

            <div class="col-xs-0 col-md-2 col-lg-4"></div>

            <div class="col-xs-12 col-md-8 col-lg-4 no-padding align-left friend">
              <div class="picture">
                <img {{bind-attr src=friendship.friend.picture }} />
                {{#unless friendship.has_been_seen}}
                  <div class="new">{{t "new"}}</div>
                {{/unless}}
              </div>
              <div class="name">{{friendship.friend.name}}</div>

            </div>

            <div class="col-xs-0 col-md-2 col-lg-4"></div>

          </div>
        {{/link-to}}
      {{/each}}
    </div>

  </div>
</div>

<div {{bind-attr class=":side-nav-bar isSidebarOpen:open:closed"}}>
  <div class="section-content">
    {{outlet}}
  </div>
</div>