{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER BUTTONS --}}
<div class="side-nav-filter-buttons section-buttons">
  <ul>
    <li {{bind-attr class=":section-button createIsOpen:active"}} {{translateAttr  title='meethub.button.create'}} {{action 'toggleCreate'}}>
      {{unbound fa-icon "fa-plus"}}
    </li>
    {{!-- SEARCH --}}
    <li {{bind-attr class=":section-button searchIsOpen:active"}} {{translateAttr  title='meethub.button.search'}} {{action 'toggleSearch'}}>
      {{unbound fa-icon "fa-search"}}
    </li>
  </ul>
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{!-- CREATE --}}
  {{#if 'createIsOpen'}}
    <div {{bind-attr class=":side-nav-item"}}>
      <div class="new-elem-title">
        {{focused-input class="new-elem-title-input" placeholder="Name" value=name}}
      </div>
      <div class="new-elem-short-description">
        {{#if isGerman}}
          {{textarea placeholder="Kurzbeschreibung" cols="50" rows="3" maxlength="250" value=short_description}}
        {{else}}
          {{textarea placeholder="Short description" cols="50" rows="3" maxlength="250" value=short_description}}
        {{/if}}
      </div>
      <span {{bind-attr class=":side-nav-button :save nameIsEmpty:disabled:enabled"}} {{action 'createMeethub'}} {{translateAttr  title='meethub.button.create'}}>{{unbound fa-icon "fa-check"}}</span>
      <span {{bind-attr class=":side-nav-button :cancel nameIsEmpty:disabled:enabled"}} {{action 'cancelMeethubCreation'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</span>
    </div>
  {{/if}}
  {{!-- SEARCH --}}
  {{#if 'searchIsOpen'}}
    <div {{bind-attr class=":side-nav-item :align-left"}}>
      <div class="search">
        {{focused-input class="search-input" placeholder="Search..." value=search_term}}
      </div>
      <span {{bind-attr class=":side-nav-button :reset-search-button searchIsEmpty:do-not-display"}} {{action 'resetSearch'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</span>
    </div>
  {{/if}}
  {{#each meethub in sortedMeethubs}}
    <div {{bind-attr class=":side-nav-item :meethub :no-padding meethub.isOpen:open"}}>
    	{{!-- TITLE --}}
      <div {{bind-attr class=":title :selectable meethub.isOpen:open"}} {{action 'toggleMeethub' meethub}}>
      	{{meethub.name}}
     	</div>
     	{{!-- BODY --}}
      <div {{bind-attr class=":body meethub.isOpen:open"}}>
        {{#if 'meethub.hasShortDescription'}}
          <div class="short-description">{{meethub.short_description}}</div>
        {{/if}}
      	<div class="members-title">{{t 'meethub.members'}}</div>
        <div class="members">
          {{#each member in meethub.members}}
            <img {{bind-attr src=member.picture }} {{bind-attr title=member.name}} />
          {{/each}}
          <div {{bind-attr class=":add-new-member meethub.showAddMembersForm:open"}} {{action 'toggle_add_members_form' meethub}}>
            {{unbound fa-icon "fa-user-plus"}}
          </div>
        </div>
        {{#if 'meethub.showAddMembersForm'}}
          {{user-search
              user=user
              friends=friends
              setAutofocus=setAutofocus
              parent=meethub}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

