{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER BUTTONS --}}
<div class="side-nav-filter-buttons section-buttons">
  <ul>
    <li {{bind-attr class=":section-button createIsOpen:active"}} {{translateAttr  title='meethub.button.create'}} {{action 'toggleCreate'}}>
      {{unbound fa-icon "fa-plus"}}
    </li>
    {{!-- SEARCH --}}
    <li {{bind-attr class=":section-button searchIsOpen:active"}} {{translateAttr  title='meethub.button.search'}} {{action 'toggleSearch'}}>
      {{unbound fa-icon "fa-search"}}
    </li>
  </ul>
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{!-- CREATE --}}
  {{#if 'createIsOpen'}}
    <div {{bind-attr class=":side-nav-item"}}>
      <div class="new-elem-title">
        {{focused-input class="new-elem-title-input" placeholder="Name" value=name}}
      </div>
      <div class="new-elem-short-description">
        {{#if isGerman}}
          {{textarea placeholder="Kurzbeschreibung" cols="50" rows="3" maxlength="250" value=short_description}}
        {{else}}
          {{textarea placeholder="Short description" cols="50" rows="3" maxlength="250" value=short_description}}
        {{/if}}
      </div>
      <span {{bind-attr class=":side-nav-button :save nameIsEmpty:disabled:enabled"}} {{action 'createMeethub'}} {{translateAttr  title='meethub.button.create'}}>{{unbound fa-icon "fa-check"}}</span>
      <span {{bind-attr class=":side-nav-button :cancel nameIsEmpty:disabled:enabled"}} {{action 'cancelMeethubCreation'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</span>
    </div>
  {{/if}}
  {{!-- SEARCH --}}
  {{#if 'searchIsOpen'}}
    <div {{bind-attr class=":side-nav-item :align-left"}}>
      <div class="search">
        {{focused-input class="search-input" placeholder="Search..." value=search_term}}
      </div>
      <span {{bind-attr class=":side-nav-button :reset-search-button searchIsEmpty:do-not-display"}} {{action 'resetSearch'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</span>
    </div>
  {{/if}}
  {{#each meethubInvitation in sortedMeethubInvitations}}
    <div {{bind-attr class=":side-nav-item :meethub :no-padding meethub.isOpen:open"}}>
    	{{!-- TITLE --}}
      <div {{bind-attr class=":title meethubInvitation.meethub.isInEditMode:editMode:selectable meethubInvitation.meethub.isOpen:open"}} {{action 'toggleMeethub' meethubInvitation.meethub}}>
        {{#if 'meethubInvitation.meethub.hasNewComments'}}
          <span {{bind-attr class=":side-nav-info-counter meethubInvitation.meethub.hasNewComments:highlight"}}>
            {{meethubInvitation.meethub.newComments.length}}
          </span>
        {{/if}}
        {{#if 'meethubInvitation.meethub.isInEditMode'}}
          {{input value=meethubInvitation.meethub.name}}
        {{else}}
          {{meethubInvitation.meethub.name}}
        {{/if}}
     	</div>
     	{{!-- BODY --}}
      <div {{bind-attr class=":body meethubInvitation.meethub.isOpen:open"}}>
        <div class="item-options">
          {{#if 'meethubInvitation.meethub.isInEditMode'}}
            <div class="item-option save-button" {{action 'save' meethubInvitation.meethub}}>{{unbound fa-icon "fa-check"}} {{t 'save'}}</div>
            <div class="item-option cancel-button" {{action 'cancelEditing' meethubInvitation.meethub}}>{{unbound fa-icon "fa-remove"}} {{t 'meethub.button.cancel'}}</div>
          {{else}}
            {{#if 'meethubInvitation.meethub.selectNewAdmin'}}
              <div class="item-option cancel-button" {{action 'cancelEditing' meethubInvitation.meethub}}>{{unbound fa-icon "fa-remove"}} {{t 'meethub.button.cancel'}}</div>
            {{else}}
              {{edit-button
                  user=user
                  parent=meethubInvitation}}
              {{leave-button
                  parent=meethubInvitation}}
            {{/if}}
          {{/if}}
        </div>
        {{#if 'meethubInvitation.meethub.selectNewAdmin'}}
          <div class="new-admin-selection">
            {{t 'meethub.select-new-admin-advice'}}
            {{user-search
              user=user
              friends=meethubInvitation.meethub.invitedUser
              setAutofocus=setAutofocus
              parent=meethubInvitation
              type='makeAdmin'}}
          </div>
        {{/if}}
        {{#if 'meethubInvitation.meethub.isInEditMode'}}
          <div class="short-description edit">
            {{#if isGerman}}
              {{textarea placeholder="Kurzbeschreibung" cols="50" rows="3" maxlength="250" value=meethubInvitation.meethub.short_description}}
            {{else}}
              {{textarea placeholder="Short description" cols="50" rows="3" maxlength="250" value=meethubInvitation.meetub.short_description}}
            {{/if}}
          </div>
        {{else}}
          {{#if 'meethubInvitation.meethub.hasShortDescription'}}
            <div class="short-description">{{meethubInvitation.meethub.short_description}}</div>
          {{/if}}
        {{/if}}
        <div class="summary">
          <div {{bind-attr class="meethubInvitation.meethub.hasNewComments:highlight"}}>{{#link-to 'members-area.meethubs.comments.meethub' meethubInvitation.meethub}}{{meethubInvitation.meethub.newComments.length}} {{t 'comment.new_comments'}}{{/link-to}}</div>
          <div>{{#link-to 'members-area.meethubs.calendar.list'}}0 neue Events{{/link-to}}</div>
          {{!-- <div>0 neue Mitgleider</div> --}}
        </div>
      	<div class="members-title">{{t 'meethub.members'}}</div>
        <div class="members">
          {{#each invitation in meethubInvitation.meethub.acceptedInvitations}}
            <img class="accepted" {{bind-attr src=invitation.invited_user.picture }} {{bind-attr title=invitation.invited_user.name}} />
          {{/each}}
          {{#each invitation in meethubInvitation.meethub.pendingInvitations}}
            <img class="pending" {{bind-attr src=invitation.invited_user.picture }} {{bind-attr title=invitation.invited_user.name}} />
          {{/each}}
          <div {{bind-attr class=":add-new-member meethubInvitation.meethub.showAddMembersForm:open"}} {{action 'toggle_add_members_form' meethubInvitation.meethub}}>
            {{unbound fa-icon "fa-user-plus"}}
          </div>
        </div>
        {{#if 'meethubInvitation.meethub.showAddMembersForm'}}
          {{user-search
              user=user
              friends=friends
              setAutofocus=setAutofocus
              parent=meethubInvitation.meethub
              type='meethubInvite'}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

