{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER BUTTONS --}}
<div class="side-nav-item section-buttons">
  {{outlet section-buttons}}
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{outlet form}}
  {{!-- SEARCH --}}
  <div {{bind-attr class=":side-nav-item :align-left searchIsOpen:open"}}>
    <div class="search">
      {{input class="search-input" placeholder="Search..." value=search_term}}
    </div>
    <span {{bind-attr class=":side-nav-button :reset-search-button searchIsEmpty:do-not-display"}} {{action 'cancelSearch'}} {{translateAttr  title='meethub.button.cancel'}}>{{unbound fa-icon "fa-remove"}}</span>
  </div>
  {{#each meethub in sortedMeethubs}}
    <div class="side-nav-item meethub no-padding">
    	{{!-- TITLE --}}
      <div {{bind-attr class=":title :selectable meethub.isOpen:open"}} {{action 'toggleMeethub' meethub}}>
      	{{meethub.name}}
     	</div>
     	{{!-- BODY --}}
      <div {{bind-attr class=":body meethub.isOpen:open"}}>
      	<div>{{meethub.short_description}}</div>
      	<div class="members-title">{{t 'meethub.members'}}:</div>
        <div class="members">
          {{#each member in meethub.members}}
            <img {{bind-attr src=member.picture }} {{bind-attr title=member.name}} />
          {{/each}}
          <div {{bind-attr class=":add-new-member meethub.showAddMembersForm:open"}} {{action 'toggle_add_members_form' meethub}}>
            {{unbound fa-icon "fa-user-plus"}}
          </div>
        </div>
        {{#if 'meethub.showAddMembersForm'}}
          <div class="add-new-members-form">
            {{input class="new-elem-title-input" placeholder="Name / Mail ..."}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

