{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER --}}
<div class="side-nav-item section-buttons">
  {{outlet section-buttons}}
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{outlet form}}
  {{#each meethub in sortedMeethubs}}
    <div class="side-nav-item meethub no-padding">
    	{{!-- TITLE --}}
      <div class="title selectable" {{action 'toggleMeethub' meethub}}>
      	{{meethub.name}}
     	</div>
     	{{!-- BODY --}}
      <div {{bind-attr class=":body meethub.isOpen:open"}}>
      	<div>{{meethub.short_description}}</div>
      	<div>members:</div>
        <div>
          {{#each member in meethub.members}}
            <div class="picture"><img {{bind-attr src=member.picture }} {{bind-attr title=member.name}} /></div>
          {{/each}}
      </div>
    </div>
  {{/each}}
</div>

