{{!-- TITLE --}}
<div class="section-title">
  Meethubs
  <div class="meethub-counter"></div>
</div>
{{!-- FILTER --}}
<div class="side-nav-item section-buttons">
  {{outlet section-buttons}}
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{outlet form}}
  {{#each meethub in model}}
    <div class="side-nav-item meethub no-padding">
    	{{!-- TITLE --}}
      <div class="title selectable" {{action 'toggleMeethub' meethub}}>
      	{{meethub.name}}
     	</div>
     	{{!-- BODY --}}
      <div {{bind-attr class=":body meethub.isOpen:open"}}>
      	Test
      </div>
    </div>
  {{/each}}
</div>

