<div class="side-nav-bar">
  <div class="side-bar-links">
    <div {{action 'toggleSidebar'}}>{{unbound fa-icon "fa-reorder"}}</div>
    <div>{{#link-to 'members-area.messages.map'}}{{unbound fa-icon "fa-fixed-with fa-map-marker"}}{{/link-to}}</div>
    <div>{{#link-to 'members-area.messages.calendar'}}{{unbound fa-icon "fa-fixed-with fa-calendar"}}{{/link-to}}</div>
  </div>
  <div class="section-content">
    {{!-- TITLE --}}
    <div class="section-title">
      Messages
    </div>
    {{!-- FILTER --}}
    <div class="side-nav-item selectable" {{action "centerMapOnCurrentPosition"}}>
      Messages Filter
    </div>
    {{!-- LIST --}}
    <div {{bind-attr class=":side-nav-item-container"}}>
      {{#each message in sortedMessages}}
        <div {{bind-attr class=":side-nav-item :message :no-padding message.hasBeenRead:has-been-read message.eventInvitation.hasBeenAccepted:accepted message.eventInvitation.hasBeenAcceptedMaybe:maybe message.eventInvitation.hasBeenDeclined:declined"}}>
          {{!-- TITLE --}}
          <div class="title selectable" {{action 'toggleMessage' message}}>
            <div class="icons">
              <div {{bind-attr class=":envelope message.hasBeenRead"}}>
                {{#if message.hasBeenRead}}
                  {{unbound fa-icon "fa-envelope-o"}}
                {{else}}
                  {{unbound fa-icon "fa-envelope"}}
                {{/if}}
              </div>
              {{#if message.isEventInvitation}}
                <div class="message-type">{{unbound fa-icon "fa-music"}}</div>
                {{#if message.eventInvitation.hasBeenAccepted}}
                  <div class="eventInvitation-status accepted">{{unbound fa-icon "fa-check"}}</div>
                {{/if}}
                {{#if message.eventInvitation.hasBeenAcceptedMaybe}}
                  <div class="eventInvitation-status maybe">{{unbound fa-icon "fa-question"}}</div>
                {{/if}}
                {{#if message.eventInvitation.hasBeenDeclined}}
                  <div class="eventInvitation-status declined">{{unbound fa-icon "fa-remove"}}</div>
                {{/if}}
              {{/if}}
            </div>
            <div class="subject">{{message.subject}}</div>
          </div>
          {{!-- BODY --}}
          {{#if message.isEventInvitation}}
          <div {{bind-attr class=":body message.isOpen:open"}}>
            <div class="question">{{t 'messages.participation-question'}}</div>
            <div>
              <div {{bind-attr class=":button :accept message.eventInvitation.hasBeenAccepted:active"}} {{action 'acceptEventInvitation' message.eventInvitation}} {{translateAttr  title='messages.accept'}}>{{unbound fa-icon "fa-check"}}</div>
              <div {{bind-attr class=":button :maybe message.eventInvitation.hasBeenAcceptedMaybe:active"}} {{action 'maybeAcceptEventInvitation' message.eventInvitation}} {{translateAttr  title='messages.maybe'}}>{{unbound fa-icon "fa-question"}}</div>
              <div {{bind-attr class=":button :decline message.eventInvitation.hasBeenDeclined:active"}} {{action 'declineEventInvitation' message.eventInvitation}} {{translateAttr  title='messages.decline'}}>{{unbound fa-icon "fa-remove"}}</div>
            </div>
            <div class="start">
              {{#if isGerman}}
                {{message.eventInvitation.event.start_date_converted_to_de}}
              {{else}}
                {{message.eventInvitation.event.start_date_converted_to_us}}
              {{/if}}
               - {{message.eventInvitation.event.start_time_converted}}
            </div>
            <div class="location" {{action 'centerMap' message.location}}>{{message.eventInvitation.event.location.name}}</div>
          </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
