{{!-- TITLE --}}
<div class="section-title">
  Messages
</div>
{{!-- FILTER BUTTONS --}}
<div class="side-nav-filter-buttons section-buttons">
  <ul>
    {{!-- <li {{bind-attr class=":section-button createIsOpen:active"}} {{translateAttr  title='messages.button.create'}} {{action 'toggleCreate'}}>
      {{unbound fa-icon "fa-plus"}}
    </li> --}}
    {{!-- SEARCH --}}
    {{!-- <li {{bind-attr class=":section-button searchIsOpen:active"}} {{translateAttr  title='messages.button.search'}} {{action 'toggleSearch'}}>
      {{unbound fa-icon "fa-search"}}
    </li> --}}
    <li class="section-button {{meethub_inv:active}}" {{translateAttr  title='messages.button.meethub-inv-filter'}} {{action 'toggleMeethubInvFilter'}}>
      {{fa-icon "fa-share-alt"}}
    </li>
    <li class="section-button {{event_inv:active}}" {{translateAttr  title='messages.button.event-inv-filter'}} {{action 'toggleEventInvFilter'}}>
      {{fa-icon "fa-music"}}
    </li>
  </ul>
</div>
{{!-- LIST --}}
<div class="side-nav-item-container">
  {{#each sortedMessages as |message|}}
    <div class="side-nav-item message no-padding {{message.hasBeenRead:has-been-read}}">
      {{!-- TITLE --}}
      <div class="title selectable {{message.isOpen:open}}" {{action 'toggleMessage' message}}>
        <div class="icons">
          <div class="envelope {{message.hasBeenRead}}">
            {{#if message.hasBeenRead}}
              {{fa-icon "fa-envelope-o"}}
            {{else}}
              {{fa-icon "fa-envelope"}}
            {{/if}}
          </div>
          {{#if message.isEventInvitation}}
            <div class="message-type">{{fa-icon "fa-music"}}</div>
            {{#if message.hasBeenRead}}
              <div class="eventInvitation-status {{message.eventInvitation.hasBeenAccepted:accepted message.eventInvitation.hasBeenAcceptedMaybe:maybe message.eventInvitation.hasBeenDeclined:declined}}">
              {{fa-icon "fa-circle"}}</div>
            {{/if}}
          {{/if}}
          {{#if message.isMeethubInvitation}}
            <div class="message-type">{{fa-icon "fa-share-alt"}}</div>
            <div class="methubInvitation-status {{message.meethubInvitation.hasBeenAccepted:accepted message.meethubInvitation.hasBeenDeclined:declined}}"></div>
          {{/if}}
        </div>
        <div class="subject">{{message.subject}}</div>
      </div>
      {{!-- BODY --}}
      <div class="body {{message.isOpen:open}}">
        {{#if message.isEventInvitation}}
          <div class="info-box-row question">
            {{t 'messages.event-participation-question'}}
          </div>
          <div class="buttons">
            <div class="button accept {{message.eventInvitation.hasBeenAccepted:active}}" {{action 'acceptEventInvitation' message.eventInvitation.id}} {{translateAttr  title='messages.accept'}}>{{fa-icon "fa-check"}}</div>
            <div class="button maybe {{message.eventInvitation.hasBeenAcceptedMaybe:active}}" {{action 'maybeAcceptEventInvitation' message.eventInvitation.id}} {{translateAttr  title='messages.maybe'}}>{{fa-icon "fa-question"}}</div>
            <div class="button decline {{message.eventInvitation.hasBeenDeclined:active}}" {{action 'declineEventInvitation' message.eventInvitation.id}} {{translateAttr  title='messages.decline'}}>{{fa-icon "fa-remove"}}</div>
          </div>
          <div class="info-box-row start">
            {{#link-to 'members-area.messages.calendar'}}
              {{formatted-date message.eventInvitation.event.start_date 'L'}}
               - {{message.eventInvitation.event.start_time_converted}}
            {{/link-to}}
          </div>
          <div class="info-box-row location">
            {{!-- {{#link-to 'members-area.messages.map'}} --}}
              {{message.eventInvitation.event.location.name}}
            {{!-- {{/link-to}} --}}
          </div>
          <div class="info-box-row more_infos">
            <a target="_blank" href="https://www.facebook.com/events/{{message.eventInvitation.event.fb_id}}/">{{t "go-to-facebook-page"}}</a>
          </div>
          <div class="info-box-row social-points {{message.eventInvitation.event.hasSocialPoints}}">
            {{fa-icon "fa-certificate"}} {{message.eventInvitation.event.social_points}} Social-Points
          </div>
          <div class="info-box-row participants">
            {{#if message.eventInvitation.event.hasConnectedFriends}}
              <div class="row participants-title">{{t 'participants.title'}}</div>
              {{#each message.eventInvitation.event.friends_attending as |friend|}}
                <img class="attending" src={{friend.picture}} title={{friend.name}} />
              {{/each}}
              {{#each message.eventInvitation.event.friends_attending_maybe as |friend|}}
                <img class="attending-maybe" src={{friend.picture}} title={{friend.name}} />
              {{/each}}
              {{#each message.eventInvitation.event.friends_declined as |friend|}}
                <img class="declined" src={{friend.picture}} title={{friend.name}} />
              {{/each}}
            {{/if}}
          </div>
        {{else}}
            <div class="info-box-row text">{{message.text}}</div>
            {{#if message.isMeethubInvitation}}
              <div class="info-box-row question">
                {{t 'messages.meethub-participation-question'}}
              </div>
              <div class="buttons">
                <div class="button accept {{message.meethubInvitation.hasBeenAccepted:active}}" {{action 'acceptMeethubInvitation' message.meethubInvitation.id}} {{translateAttr  title='messages.accept'}}>{{fa-icon "fa-check"}}</div>
                <div class="button decline {{message.meethubInvitation.hasBeenDeclined:active}}" {{action 'declineMeethubInvitation' message.meethubInvitation.id}} {{translateAttr  title='messages.decline'}}>{{fa-icon "fa-remove"}}</div>
              </div>
            {{/if}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
